<h2 mat-dialog-title>Создать новый чат</h2>
<mat-dialog-content class="pt-5">
  <form (submit)="onAdd()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Название чата</mat-label>
      <input
        matInput
        [(ngModel)]="chatName"
        name="chatName"
        required
        placeholder="Например: #проекты"
      />
      <i  matIconPrefix class="fas fa-hashtag icon-gray"></i>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="dialogRef.close()">
    <i class="fas fa-xmark mr-8"></i>
    Отмена
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="onAdd()"
    [disabled]="!chatName"
  >
    <i class="fas fa-plus mr-8"></i>
    Создать
  </button>
</mat-dialog-actions>
