<h2 mat-dialog-title>Добавить пользователя</h2>
<mat-dialog-content>
  <mat-selection-list #userList>
    <ng-container *ngIf="allUsers$ | async as users">
      <mat-list-option *ngFor="let user of users" 
                       [selected]="isSelected(user.id)"
                       (click)="toggleUser(user.id)">
        {{ user.username }} ({{ user.email }})
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Отмена</button>
  <button mat-raised-button 
          color="primary" 
          [disabled]="selectedUsers.length === 0"
          (click)="addUsers()">
    Добавить выбранных ({{selectedUsers.length}})
  </button>
</mat-dialog-actions>
